.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Optional, to hide horizontal scrollbar */
}

.bodybackground{
    
}

#heading{
    font-size: large;
    justify-content: center;
}

#button_container{

}

.jknbutton,.btnguu,.btnpaa,.btncho{

}

.btnj{

}

.btnk{

}

.btnp{

}

.resultcontainer{

}

#displayresult{
     
}

#playagainbutton{
}
