/* Apply styles to both the html and body elements */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Optional, to hide horizontal scrollbar */
    display: flex;
    flex-direction: column;
}

/* Apply the background image to the body */
body {
    background-image: url("./イラスト/dorashi.jpg");
}

/* Apply styles to elements with the "bodybackground" class */


#heading{
   display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#button_container{
align-items: center;
justify-content: center;
display: flex;
gap: 40px;

}

.jknbutton,.btnguu,.btnpaa,.btncho{

}

.btnguu{
    /* Set the background image */
    background-image: url("./イラスト/auto_lock_shimedashi_man.png");
    /* Set the size and position of the background image */
    background-size: cover;
    background-position: center;
    /* Set any desired padding or spacing around the text */
    padding: 10px 20px;
    /* Set any other desired styles for the button */
    color: white;
    background-color: #007bff;
    border-radius: 15px 30px;
    cursor: pointer;
    /* Add any other styles as needed */
}

.btnk{

}

.btnp{

}

.resultcontainer{

}

#displayresult{
     
}

#playagainbutton{
    
   
}
